<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-image: linear-gradient(to bottom right, rgb(8, 2, 68), rgb(7, 32, 146)); color: rgb(255, 252, 252);" *ngIf="commonService.isHeaderVisible()"> -->
<nav class="navbar navbar-expand-lg navbar-dark"
  style="background-color: rgb(52, 52, 53); color:white; font-weight: bolder; border-bottom: 3px dotted rgb(243, 240, 240);"
  *ngIf="commonService.isHeaderVisible()">
  <div class="container-fluid">
    <button (click)="toggleSlidebar()" mat-icon-button style="color:rgb(251, 250, 250) ;">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color:rgb(253, 251, 251) ;"> &nbsp; Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/aboutUs']" style="color:rgb(253, 251, 251) ;"> &nbsp; About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:rgb(253, 251, 251) ;"> &nbsp; Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:rgb(253, 251, 251) ;"> &nbsp; Contact us</a>
        </li>

      </ul>
    </div>

    <!--    for logout-->
    <div *ngIf="authService.isAuthenticated()">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-10">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="color:rgb(253, 251, 251) ;">
            <mat-icon>power_settings_new</mat-icon>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <form [formGroup]="teacherEbookPaperFormGroup">
              <li>
                <div class="col-sm-3" style="display: none;">
                  <input class="form-control" type="text" value="" formControlName="organisationId">
                </div>
              </li>
              <li>
                <div class="col-sm-3" style="display: none;">
                  <input class="form-control" type="text" value="" formControlName="ledgerId">
                </div>
              </li>
            </form>
            <li>
              <a class="dropdown-item" [routerLink]="" (click)="logOutCurrentUser()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" [routerLink]="" (click)="logOutFromAll()">
                Logout All
              </a></li>
          </ul>
        </li>
      </ul>
    </div>&nbsp;
    <button *ngIf="authService.isAuthenticated()" mat-button class="rounded-circle" [matMenuTriggerFor]="test1">
      <div class="rounded-circle" style="width: 56px; height: 55px; border: #e8c50e solid">
        <img class="rounded-circle" style="width: 50px; height: 50px" [src]="imageSrc"
          (error)="imageSrc = defaultPicture">
      </div>
    </button>
    <mat-menu #test1="matMenu">
      <input type="file" (change)="onChange($event)" name="filename">
    </mat-menu>
    <div>{{authService.getUserName()}} &nbsp;<span *ngIf="isShowProfile"><a class="btn btn-outline-success" href="#"
          role="button" rel="My Profile" [routerLink]="['/Profile']"><i class="bi bi-person-circle"></i></a></span>
    </div>
  </div>
</nav>