<div class="head">
    <div class="headerobjectswrapper">

        <header>Your E - Book</header>
       
    </div>
    <div class="container-fluid" style="background-color: rgb(248, 241, 215);">
        <div class="container table-responsive py-5">
          
                <div class="card-body">
                  <p-table #studentEbook [value]="studentEbookArray" dataKey="id" [paginator]="true" [rows]="5"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5,10,25,50]"
                    [globalFilterFields]="['id','ebook_description','subject_full_name','created_at']">
                    <ng-template pTemplate="caption">
                      <div class="flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                          (click)="clear(studentEbook)"></button>
                        <span class="p-input-icon-left ml-auto">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text"
                            (input)="studentEbook.filterGlobal(getEventValue($event), 'contains')"
                            placeholder="Search keyword" />
                        </span>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                      <tr>
                        <th>ID</th>
                        <th pSortableColumn="ebook_description">E-Book Description <p-sortIcon
                            field="ebook_description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="full_name">Course / Class Name <p-sortIcon field="full_name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="subject_full_name">Subjects <p-sortIcon field="subject_full_name"></p-sortIcon>
                        </th>
                        <th>Download Attechment </th>
                       

                        <th pSortableColumn="created_at">Date & time <p-sortIcon field="created_at"></p-sortIcon>
                        </th>
                                               
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-assignment let-rowIndex="rowIndex">
                      <tr>
                        <td>{{rowIndex+1}}</td>
                        <td>{{assignment.ebook_description}}</td>
                        <td>{{assignment.full_name}}</td>
                        <td>{{assignment.subject_full_name}}</td>
                        <td>
                          <div *ngIf="assignment.file_url; then thenBlock; else elseBlock"></div>
                          <p><ng-template #thenBlock>
                              <span><a href={{defaultPicture}}{{assignment.file_url}} download="filename" target="_blank" rel="noopener noreferrer"><i
                                    class="bi bi-download" style="font-size:x-large"></i></a>&nbsp; {{assignment.file_url}}</span>
                            </ng-template></p>
                          <p><ng-template #elseBlock>
                            </ng-template></p>


                        </td>
                      
                        <td>{{assignment.created_at}}</td>
                       
                       
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                    </ng-template>
                  </p-table>


                </div>
              
        </div>
        <!-- <form [formGroup]="FinalPayFormGroup">
        <div class="input-group mb-3">
          <span class="input-group-text">Amount</span>
          <input type="text" [(ngModel)]="payAmountNgModel" formControlName="payAmount" class="form-control" placeholder="0.00">
          <button type="button" class="btn btn-dark" (click)="onlinePayment()">Pay Now</button> &nbsp; &nbsp;
          <button type="button" class="btn btn-dark" (click)="saveOnlinePayment()" *ngIf="isShowBtn">Update Payment</button>
        </div>
      </form> -->
     <!--  <pre style="background-color:yellow ; text-align: left;">
        save code tempObj = {{tempNewsObj | json}}
            
           
      </pre> -->
    </div>
</div>