<div class="container-fluid page">
  <div class="header">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-md-8 dash" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: xx-large;" > <i class="bi bi-speedometer2"></i>&nbsp; Set / Change Password</div>
      <div class="col-md-4 comdtl">
        <span class="comname">{{organisationName}} <br></span>
        <hr>
        <i class="bi bi-envelope-fill"></i>&nbsp; Email : {{organisationEmail}} <br>
        <i class="bi bi-telephone-fill"></i>&nbsp; Contact Number : {{organisationContact}}<br>
        <i class="bi bi-geo-alt-fill"></i>&nbsp; Address : {{organisationAddress}}, Pin - {{organisationPin}}
      </div>
    </div>
  </div>
  <mat-tab-group (selectedIndexChange)="onTabChanged($event)" [(selectedIndex)]="selectedIndex"
                            animationDuration="200ms"
                            style="background-image: linear-gradient(to bottom right, rgb(8, 2, 68), rgb(7, 32, 146)); color: aliceblue; padding: 12px; border-radius: 5px; padding:0px;">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">trending_up</mat-icon>
                                    Change Password
                                </ng-template>
                                <div class="card text-center" style="color:black ;">
                                  <div class="card-header">
                                    <div *ngIf="!comfirmPasswordBoolean">
                                      <mat-error class="text-center">
                                        Confirm Password Mismatch
                                      </mat-error>
                                    </div>
                                    <div *ngIf="comfirmPasswordBoolean">
                                      
                                      <p style="color: green; "> <b>Password is Mismatch </b></p>
                                     
                                    </div>
                                  </div>
                                  <div class="card-body">
                                    <form [formGroup]="changePasswordFormGroup">
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <input class="form-control pass-custom" formControlName="password" type="password"
                                            placeholder="New Password" />
                                          <div
                                            *ngIf="changePasswordFormGroup.controls['password'].errors && changePasswordFormGroup.controls['password'].touched">
                                            <mat-error class="text-right" *ngIf="changePasswordFormGroup.controls['password'].errors['required']">
                                              User Password is
                                              required</mat-error>
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <input class="form-control pass-custom" formControlName="confirm_password" type="password"
                                            placeholder="Confirm Password"  (blur)='onBlur($event)'/>
                              
                                        </div>
                                        <div class="row p-2 card-footer text-muted">
                                          <div class="col-sm-12 text-center">
                                          <button type="button" class="btn btn-success" (click)="onClear();"><i
                                            class="bi bi-save"></i>&nbsp;Clear</button>
                                          &nbsp; &nbsp;
                                         
                                          <button
                                          *ngIf="(this.changePasswordFormGroup.valid) && (comfirmPasswordBoolean) && (!isBtnVisible) "
                                          type="button" class="btn btn-info" (click)="onUpdatePassword();"><i class="bi bi-save"></i>&nbsp;
                                          Change Password</button></div>
                                        </div>
                                      </div>
                                    </form>
                                   
                                  </div>
                                  <!-- <pre style="background-color:yellow ; color: black;">
                                    userRegisterData = {{this.changePasswordData | json}}
                                  </pre> -->
                                </div>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                  <mat-icon class="example-tab-icon">trending_up</mat-icon>
                                  Set Student Password
                              </ng-template>
                              <div style="background-color:white ; padding: 20px;">
                                <form [formGroup]="studentUserFormGroup">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-label class="custom"><i class="bi bi-building"></i>&nbsp;Student Name
                                            </mat-label>
                                            <ng-select appearance="outline" style="width:100% ;" [items]="studentNameArray"
                                                bindLabel="ledger_name" class="org-custom" bindValue="id"
                                                formControlName="student_id" autofocus="true" appendTo="body"
                                                placeholder="student Name"  (change)="changeStudentInfo($event)">
                                            </ng-select>
                                        </div>
                                          <div class="col-sm-6 comdt2" *ngIf="studentInfoBoolean">
                                            <span class="comname">{{organisationName}} <br></span>
                                            <hr>
                                            <i class="bi bi-envelope-fill"></i>&nbsp; Email :&nbsp; <b>{{emailId}}</b><br>
                                            <i class="bi bi-telephone-fill"></i>&nbsp; Contact Number : &nbsp; <b>
                                                {{contactNumber}}</b> <span style="color: green; font-weight: bolder;"> Status: &nbsp; {{resultString}} </span><br>
                                            <i class="bi bi-geo-alt-fill"></i>&nbsp; Address : &nbsp; <b> {{address}}, Pin -
                                                &nbsp; {{organisationPin}}</b>
                                        </div> 
                                        <!--  <hr style="width:40%;height:2px;border-width:0;color:rgb(103, 101, 101);background-color:rgb(104, 103, 103); text-align: center;"> -->
                                    </div>
        
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width:100% ;">
                                                <mat-label><i class="bi-person-circle"></i>&nbsp; User Name
                                                </mat-label>
                                                <input matInput placeholder="User Name" class="custom"
                                                    formControlName="student_name">
                                                <div
                                                    *ngIf="studentUserFormGroup.controls['student_name'].errors && studentUserFormGroup.controls['student_name'].touched">
                                                    <mat-error class="text-right"
                                                        *ngIf="studentUserFormGroup.controls['student_name'].errors['required']">
                                                        User Name is required</mat-error>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width:100% ;">
                                                <mat-label><i class="bi bi-envelope-fill mr-1"></i> &nbsp; Email ID</mat-label>
                                                <input matInput="email" placeholder="Email ID" class="custom"
                                                    formControlName="student_email">
                                                <div
                                                    *ngIf="studentUserFormGroup.controls['student_email'].errors && studentUserFormGroup.controls['student_email'].touched">
                                                    <mat-error class="text-right"
                                                        *ngIf="studentUserFormGroup.controls['student_email'].errors['required']">
                                                        User Email is
                                                        required</mat-error>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width:100% ;">
                                                <mat-label><i class="bi bi-phone-fill"></i>&nbsp;Contact No</mat-label>
                                                <input matInput placeholder="Contact No" class="custom"
                                                    formControlName="student_mobile1">
                                                <div
                                                    *ngIf="studentUserFormGroup.controls['student_mobile1'].errors && studentUserFormGroup.controls['student_mobile1'].touched">
                                                    <mat-error class="text-right"
                                                        *ngIf="studentUserFormGroup.controls['student_mobile1'].errors['required']">
                                                        User Contact Number is
                                                        required</mat-error>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <!--   <mat-label class="custom"><i class="bi-person-circle"></i>&nbsp;User Type
                                            </mat-label> -->
                                            <ng-select appearance="outline" style="width:100% ;" [items]="userRegisterArray"
                                                bindLabel="user_type_name" class="custom" bindValue="id"
                                                formControlName="student_user_type_id" autofocus appendTo="body"
                                                placeholder="User Type">
                                            </ng-select>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="form-control pass-custom" formControlName="student_password" type="password"
                                                placeholder="New Password" />
                                            <div
                                                *ngIf="studentUserFormGroup.controls['student_password'].errors && studentUserFormGroup.controls['student_password'].touched">
                                                <mat-error class="text-right"
                                                    *ngIf="studentUserFormGroup.controls['student_password'].errors['required']">
                                                    User Password is
                                                    required</mat-error>
                                            </div>
                                        </div>
        
                                        <div class="col-sm-6">
                                            <input class="form-control pass-custom" formControlName="student_confirm_password"
                                                type="password" placeholder="Confirm Password" (blur)='onStudentBlur($event)' />
                                            <div *ngIf="!studentComfirmPasswordBoolean">
                                                <mat-error class="text-right">
                                                    Confirm Password Mismatch
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row p-2" >
                                         <div class="col-sm-2" *ngIf="hiddenInput">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <input matInput placeholder="organisation ID" formControlName="org_id">
                                                </mat-form-field>
                                            </div>
                                        </div> 
                                        <div class="col-sm-12 text-right">
                                            <button type="button" class="btn btn-success" (click)="onStudentClear();"><i
                                                    class="bi bi-save"></i>&nbsp;Clear </button>
                                            &nbsp; &nbsp;
                                            <button
                                                *ngIf="(this.studentUserFormGroup.valid) && (studentComfirmPasswordBoolean)  "
                                                type="button" class="btn btn-info" (click)="onStudentSave();"><i
                                                    class="bi bi-save"></i>&nbsp;
                                                Save</button>
                                            <button *ngIf="(this.studentUserFormGroup.valid && isBtnVisible)" type="button"
                                                class="btn btn-danger" (click)="onUpdate();"><i class="bi bi-save"></i>&nbsp;
                                                Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </mat-tab>
  </mat-tab-group>
 
</div>