.logo{
  text-align: center;
  padding: 2.6rem 1rem;
  img{
    width: 150px;
  }
}
h2{
  background-color: rgb(238, 230, 115); 
  color: rgb(202, 90, 10) !important; 
  border-radius: 20px; 
  font-weight: bolder !important;
}