<div class="container-fluid page">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col-12 header"><i class="bi bi-cash"></i>&nbsp; Demo organisation</div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 feeleft ">
            <mat-tab-group (selectedIndexChange)="onTabChanged($event)" [(selectedIndex)]="selectedIndex"
                animationDuration="200ms"
                style="background-image: linear-gradient(to bottom right, rgb(8, 2, 68), rgb(7, 32, 146)); color: aliceblue; padding: 12px; border-radius: 5px; padding:0px;">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">trending_up</mat-icon>
                        Enter Organisation
                    </ng-template>
                    <form [formGroup]="demoFormGroup">
                        <div style="background-color:white ; padding: 20px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label> <i class="bi bi-building"></i> &nbsp; Organisation Name</mat-label>
                                        <input matInput placeholder="Organisation Name"
                                            formControlName="organisationName" class="custom">
                                        <div
                                            *ngIf="demoFormGroup.controls['organisationName'].errors && demoFormGroup.controls['organisationName'].touched">
                                            <mat-error class="text-right"
                                                *ngIf="demoFormGroup.controls['organisationName'].errors['required']">
                                                Organisation Name is
                                                required</mat-error>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label><i class="bi bi-geo-alt-fill"></i> &nbsp; Organisation Address
                                        </mat-label>
                                        <input matInput placeholder="Organisation Address" formControlName="address"
                                            class="custom">
                                        <div
                                            *ngIf="demoFormGroup.controls['address'].errors && demoFormGroup.controls['address'].touched">
                                            <mat-error class="text-right"
                                                *ngIf="demoFormGroup.controls['address'].errors['required']">
                                                Organisation Address is
                                                required</mat-error>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label>City</mat-label>
                                        <input matInput placeholder="City" formControlName="city" class="custom">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label>Pin</mat-label>
                                        <input matInput placeholder="Pin" formControlName="pin" class="custom">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label><i class="bi bi-phone-fill"></i>&nbsp;Contact No</mat-label>
                                        <input matInput placeholder="Contact No" formControlName="contactNumber"
                                            class="custom">
                                        <div
                                            *ngIf="demoFormGroup.controls['contactNumber'].errors && demoFormGroup.controls['contactNumber'].touched">
                                            <mat-error class="text-right"
                                                *ngIf="demoFormGroup.controls['contactNumber'].errors['required']">
                                                Organisation Contact Number is
                                                required</mat-error>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label><i class="bi bi-whatsapp"></i>&nbsp; What's App No</mat-label>
                                        <input matInput placeholder="What's App No" formControlName="whatsappNumber"
                                            class="custom">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label><i class="bi bi-envelope-fill mr-1"></i> &nbsp; Email ID</mat-label>
                                        <input matInput="email" placeholder="Email ID" formControlName="emailId"
                                            class="custom">
                                        <div
                                            *ngIf="demoFormGroup.controls['emailId'].errors && demoFormGroup.controls['emailId'].touched">
                                            <mat-error class="text-right"
                                                *ngIf="demoFormGroup.controls['emailId'].errors['required']">
                                                Organisation Email is
                                                required</mat-error>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <mat-form-field appearance="outline" style="width:100% ;">
                                        <mat-label><i class="bi bi-cash"></i>&nbsp; Opening Balance</mat-label>
                                        <input matInput placeholder="Opening Balance" formControlName="openingBalance"
                                            class="custom">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group" *ngIf="hiddenInput">
                                        <mat-form-field>
                                            <input matInput placeholder="organisation ID"
                                                formControlName="organisationId">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button type="button" class="btn btn-success" (click)="onClear();"><i
                                            class="bi bi-save"></i>&nbsp;Clear</button> &nbsp; 
                                
                                    <button *ngIf="(this.demoFormGroup.valid && !isBtnVisible)" type="button" class="btn btn-info"
                                        (click)="onSave();"><i class="bi bi-save"></i>&nbsp;
                                        Save</button>
                                
                                   
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>

                

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                        Upcoming Birthday
                    </ng-template>

                    <pre style="background-color:yellow ; color: black;">
                        demoFormGroup = {{this.demoFormGroup.value | json}}
                        demoFormGroup.valid = {{this.demoFormGroup.valid }}
                       <!-- studentData={{studentData | json}}
                   
                         test={{studentNameFormGroup.controls['studentName'].errors['required'] | json}}-->
                      </pre>
                </mat-tab>
            </mat-tab-group>

        </div>

    </div>
</div>
