<div class="container-fluid page">
  <div class="header">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-md-8 dash"
        style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: xx-large;">
        &nbsp;&nbsp; <i class="bi bi-speedometer2"></i>&nbsp;Employee / Agent Portal <!-- <br> &nbsp; &nbsp;<span style="color: brown;"><i class="bi bi-person-fill"></i> &nbsp;{{employeeName}}</span> --></div>
        
      <div class="col-md-4 comdtl">
        <span class="comname">{{organisationName}} <br></span>
        <hr>

        <i class="bi bi-envelope-fill"></i>&nbsp;<b> Email : </b>{{studentEmail}} <br>
        <i class="bi bi-telephone-fill"></i>&nbsp;<b> Contact Number :</b> {{studentContact}} &nbsp;<b> Qualification
          :</b> {{studentQualification}}<br>
        <i class="bi bi-geo-alt-fill"></i>&nbsp; <b>Address : </b> {{studentAddress}},&nbsp; <b>Pin :</b> {{studentPin}}
      </div>
    </div>
  </div>
  <!-- // Main containt -->
  <div class="flex-container">
    <div class="item">
      <i class="bi bi-wallet-fill botic"></i>
      <p id="item-title">Pending Job</p>
      <hr class="rule">
      <button type="button" class="btn btn-danger" (click)="onActivePayment()"><b>{{orderPendingArray.length}}</b></button>
      <!-- <button pButton pRipple type="button" label={{totalDueAmount}} class="p-button-rounded p-button-success" (click)="onActivePayment()">
       <i class="fas fa-rupee-sign"></i>
      </button> -->

    </div>

    <div class="item">
      <i class="bi bi-journal-text botic"></i>
       <p id="item-title">Upcoming..</p>
      <!--<hr class="rule">
    <button pButton pRipple type="button" label="Active" class="p-button-rounded p-button-success"
        (click)="onlineExam()">
        <i class="bi bi-activity"> </i>
      </button> -->
    </div>
    <div class="item">
      <i class="bi bi-journal-bookmark-fill botic"></i>
       <p id="item-title">Upcoming..</p> 
      <!--<hr class="rule">
      <button pButton pRipple type="button" label="Active" class="p-button-rounded p-button-success"
        (click)="onActiveAcademic()">
        <i class="bi bi-activity"> </i>
      </button> -->
    </div>
    <div class="item">
      <i class="bi bi-camera botic"></i>
     <p id="item-title">Upcoming..</p>
      <!--  <hr class="rule">
      <button pButton pRipple type="button" label="Active" class="p-button-rounded p-button-success"
        (click)="onActiveGallery()">
        <i class="bi bi-activity"> </i>
      </button> -->
    </div>
  </div>
  <div id="flex-report">

    <div class="col-12 report">
      <mat-tab-group (selectedIndexChange)="onTabChanged($event)" [(selectedIndex)]="selectedIndex"
        animationDuration="200ms" style="border-radius:20px ; background-color: cadetblue;">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">trending_up</mat-icon>
            Pending Orders
          </ng-template>
          <p-table #orderPending [value]="orderPendingArray" dataKey="id" [paginator]="true" [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5,10,25,50]" [globalFilterFields]="['customer_name','address','order_date']">

            <ng-template pTemplate="caption">
              <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                  (click)="clear(orderPending)"></button>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"
                    (input)="orderPending.filterGlobal(getEventValue($event), 'contains')"
                    placeholder="Search keyword" />
                </span>

              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Is Completed</th>
                
                <th pSortableColumn="customer_name">Customer Name <p-sortIcon field="customer_name"></p-sortIcon>
                </th>
                <th pSortableColumn="due_date">Day Left <p-sortIcon field="due_date"></p-sortIcon>
                </th> 
                <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon>
                </th>
                <th pSortableColumn="order_date">Order Date<p-sortIcon field="order_date"></p-sortIcon>
                </th>
                <th>WhatsApp No</th>
                <th>Service Name</th>
                <th>Service Date</th>
                <th>Time</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>

              <tr>
                <td><button pButton class="p-button-rounded p-button-info p-button-outlined"
                    (click)="onClickedCompletedOrder(order)">
                    <i class="bi bi-patch-check-fill"></i>
                  </button></td>
                <!--  <td>{{course.ledger_name}}</td> -->
                <td>{{order.customer_name}}</td>
                <td>{{order.due_date}}</td>
                <td>{{order.address}} &nbsp;{{order.city}}&nbsp;{{order.pin}}</td>
                <td>{{order.order_date | date: 'dd/MM/yyyy'}}</td>
                <!-- <a [routerLink]="['/FeesCharge']" style="text-decoration:none ; color: black; text-align:center;"><td>{{course.total_course_fees | currency:'INR'}}</td></a> -->
                <td>{{order.whatsapp_number}}</td>
                <td>{{order.work_type_name}}</td>
                <td>{{order.working_date | date: 'dd/MM/yyyy'}}</td>
                <td>{{order.working_time}}</td>
              </tr>
            </ng-template>

          </p-table>
        </mat-tab>

       

        
       
        <!-- Final Payment Made -->
       
      </mat-tab-group>
    </div>
    <!-- <div class="col-2 news">
      <h1 align="center">News & Announcements</h1>
      <div *ngFor="let item of studentNewsArray" class="news-1">
        <p><b><i>
              {{item.news_description }}
            </i>
          </b>
        </p>
        <div class="news-2" *ngIf="item.file_url; then thenBlock; else elseBlock"></div>
        <p><ng-template #thenBlock>
            <span><a href={{defaultPicture}}{{item.file_url}} download={{item.file_url} target="_blank"><i
                  class="bi bi-download"></i></a>&nbsp; {{item.file_url}}</span>
          </ng-template></p>
        <p><ng-template #elseBlock>
          </ng-template></p>

      </div>
    </div> -->


</div>

</div>