<div class="FirstHead"></div>
<!-- navbar -->
<div class="navbox d-flex">
  <div class="logo"><img src="./assets/img/img/logorem.png" alt="" width="60%" class="logoimg"></div>
  <div class="navigation">
    <div class="searchbox">
      <form class="d-flex" role="search">
        <input class="form-control searchinput" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn btn-success srchBtn" type="submit">
          <i class="bi bi-search me-2"></i><span class="srchTxt">Search</span></button>
      </form>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: transparent; color: blue;">
      <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Services
              </a>
           
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#surgical">Our Services</a></li>
                <li><a class="dropdown-item" href="#petcare">Pest Categories</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#medicare">Our Clients</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery" >Certification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://nrpmpest.in/#/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/img/img/img1.png" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="./assets/img/img/img2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/img/img3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/img/img4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/img/img5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="row mt-5 d-flex" id="aboutus">
  <div class="col-12 text-center"><img src="./assets/img/img/AboutUsIcon.png" alt="" class="me-3 AbtresIcon">
    <span class="catHeader orange">About Us</span>
  </div>
</div>
<!-- slider mobile -->
<!-- About Us -->
<div class="row p-4">
  <div class="col-md-12">
    <p class="abtTxt">New Remedy Pest Management (NRPM) is an integrated pest management industry leader offering safe
      and effective pest services in Kolkata. We protect homes and businesses from all types of pests. Any business or
      house located in or around these areas can avail themselves of our services. We offer professional and friendly
      pest management service to all our loyal clients. Our latest knowledge and skills provide our clients with the
      best solutions for their pest control needs. Established in 2007 as an ISO 9001:2015 Certified Organization, &
      with the help of Bayer, we successfully achieving target till the date by helping various sector people by it’s
      service. Through the guideline of Bayer, we make the Pest Management Service to you all as a Pest Free Zone
      through ecofriendly chemical.</p>
  </div>
</div>
<div class="row mt-5 p-2 d-flex align-items-center" id="surgical">
  <div class="col-md-4 featBlank"></div>
  <div class="col-md-4 feathead d-flex justify-content-center align-items-center">
    <img src="./assets/img/img/img12.png" alt="" width="12%">
    <span class="catHeader green ms-2">Our Services</span>
  </div>
  <div class="col-md-4 featCat d-flex">
    <a href=""><img src="./assets/img/img/catelog.png" alt="" width="50%"> </a>
  </div>
</div>
<div class="row mt-4 text-center">
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img6.png" alt="" height="50%" width="80%">
    <p class="itemName text-center capText">Termite Control</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img7.png" alt="" height="50%" width="100%">
    <p class="itemName text-center capText">Mosquito Control</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img8.png" alt="" height="50%" width="80%">
    <p class="itemName text-center capText">Wood borer Control</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img9.png" alt="" height="50%" width="80%">
    <p class="itemName text-center capText">Bed Bug Control</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img10.png" alt="" height="50%" width="80%">
    <p class="itemName text-center capText">Rodent Control</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img11.png" alt="" height="50%" width="80%">
    <p class="itemName text-center capText">Cockroach Control</p>
  </div>
</div>
<!-- Our Services -->

<!-- Pest Categories -->
<div class="row mt-3" id="petcare">
  <div class="col-md-12 text-center">

  </div>
</div>
<div class="row mt-1 p-2">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <h4 class="catHeader orange">Pest Categories We Control</h4>
  </div>
</div>
<div class="row mt-4 text-center petcareMain">
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img13.png" alt="" height="50%" width="60%" class="fProdImg">
    <p class="itemName text-center capText">Bedbug</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img14.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Cockroach</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img15.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Spider</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img16.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Mosquito</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img17.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Rodent</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img18.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Ant</p>
  </div>
</div>
<!-- Pest Categories -->
<!-- Pest Categories 2 -->
<div class="row mt-3" id="petcare">
  <div class="col-md-12 text-center">

  </div>
</div>
<div class="row mt-4 text-center petcareMain">
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img19.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Silverfish</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img20.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Scorpion</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img21.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Housefly</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img22.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Hornets</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img23.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Termite</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <img src="./assets/img/img/img24.png" alt="" height="50%" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Snake</p>
  </div>
</div>
<!-- Pest Categories 2 -->
<!-- Clients -->
<div class="row mt-5 p-2 d-flex align-items-center" id="medicare">
  <div class="col-md-4 featBlank"></div>
  <div class="col-md-4 feathead d-flex justify-content-center align-items-center">
    <img src="./assets/img/img/img25.png" alt="" width="20%">
    <span class="catHeader blue ms-2"> Our Clients </span>
  </div>
</div>

<div class="row mt-4 text-center">
  <div class="col-md-2">
    <img src="./assets/img/img/img26.jpg" alt="" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Haldirams</p>
  </div>
  <div class="col-md-2">
    <img src="./assets/img/img/img27.jpg" alt="" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Arsalan</p>
  </div>
  <div class="col-md-2">
    <img src="./assets/img/img/img28.jpeg" alt="" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Swissotel</p>
  </div>
  <div class="col-md-2">
    <img src="./assets/img/img/img29.jpg" alt="" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Renaissance</p>
  </div>
  <div class="col-md-2">
    <img src="./assets/img/img/img30.jpg" alt="" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Bisk Farm</p>
  </div>
  <div class="col-md-2">
    <img src="./assets/img/img/img31.jpg" alt="" width="80%" class="fProdImg">
    <p class="itemName text-center capText">Centuryply</p>
  </div>
</div>
<!-- Clients -->
<!-- Certification -->
<div class="row mt-5 d-flex" id="gallery">
  <div class="col-12 text-center"><img src="./assets/img/img/mediaIcon.png" alt="" width="3%" class="me-3 AbtresIcon">
    <span class="catHeader blue">Accrediation and Certification</span>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-4 col-sm-12 text-center p-4">
    <div class="card">
      <img src="./assets/img/img/img32.jpg" class="card-img-top" alt="..." height="50%" width="80%">
      <div class="card-body">
        <p> We are register as Micro Industries under MSME -an Govt of India Society Under ministry of Micro, Small
          &amp; Medium Enterprises GOVERNMENT OF INDIA </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 text-center p-4">
    <div class="card">
      <img src="./assets/img/img/img33.png" class="card-img-top" alt="..." height="50%" width="80%">
      <div class="card-body">
        <p>We are part of ‘Bayer Network of pest management professionals’ under BAYER CROP SCIENCE, GERMANY</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 text-center p-4">
    <div class="card">
      <img src="./assets/img/img/img34.png" class="card-img-top" alt="..." height="50%" width="80%">
      <div class="card-body">
        <p>Our Company is ISO Certified organization that works with eco friendly technics and equipmenents. </p>
      </div>
    </div>
  </div>
</div>
<!-- Certification -->
<!-- contactus -->
<div class="row mt-5 d-flex" id="contact">
  <div class="col-12 text-center"><img src="./assets/img/img/contactIcon.png" alt="" width="7%" class="me-3 contIcon">
    <span class="catHeader orange">Contact Us</span>
  </div>
</div>
<div class="row mt-4 text-center">
  <div class="col-md-6 col-sm-12 map">
    <div class="mapouter">
      <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=600&amp;height=300&amp;hl=en&amp;q=76/H(307), New Remedy Pest Management, 17/D/91, Nehru Colony, Dakshindari, Kolkata, South Dumdum, West Bengal 700048&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
          href="https://embed-googlemap.com">google map embed</a></div>
      <style>
        .mapouter {
          position: relative;
          text-align: right;
          width: 100%;
          height: 309px;
        }

        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          width: 100%;
          height: 300px;
        }

        .gmap_iframe {
          height: 300px !important;
        }
      </style>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 conDtls">
    <div class="context">
      <h4><b>Our Business Address:</b></h4>
      <h6 class="textcol">Corporate Office <br>5th Floor,RDB Boulevard, BP Block, Sector 5, Bidhannagar, Pin - 700091,
        West Bengal</h6><br>
      <h4><b>Mail Us:</b></h4>
      <h5 class="textcol"><a href="www.gmail.com">info@newremedypest.com</a></h5>
      <h4><b>Call Us:</b></h4>
      <h5 class="textcol"><a href="#">+91 9830246246 | 9433028955 | 9831423559</a></h5>
      <h4><b>Our Timings:</b></h4>
      <h5 class="textcol">Mon to Sat, 9a.m to 6p.m</h5>
    </div>
  </div>
</div>
<!-- contactus -->

<!-- Foot -->
<div class="row mt-3 text-center d-flex">
  <div class="col-12 footer">All Rights reserved @ We Design</div>
</div>
<!-- Foot -->