
<header class="masthead d-flex align-items-center">
 
  <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1" data-aos="fade-up"
        data-aos-duration="3000">
       
      <div class="projectHead">
      {{projectHeading}}
      </div>
      <div class="projectContact">
      {{contact}}
      </div><hr>
      <div class="domain">
        simplifyist.in
      </div>
      <div class="domain-sub">
        Let's Simplify
      </div>
    </h1>
    <!--<h3 class="mb-5"><em>Development Under Progress ...</em></h3>
     <a class="btn btn-primary btn-xl rounded-circle" href="#">Free Demo</a>
    <div data-aos="fade-up" data-aos-once="true">
      the content
    </div> -->


  </div>



</header>

