<div class="container-fluid page">
  <div class="header">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-md-8 dash"
        style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: xx-large;"> <i
          class="bi bi-speedometer2"></i>&nbsp; Admin Portal - (For Service )</div>
      <div class="col-md-4 comdtl">
        <span class="comname">{{organisationName}} <br></span>
        <hr>
        <i class="bi bi-envelope-fill"></i>&nbsp; Email : {{organisationEmail}}<br>
        <i class="bi bi-telephone-fill"></i>&nbsp; Contact Number : {{organisationContact}}<br>
        <i class="bi bi-geo-alt-fill"></i>&nbsp; Address : {{organisationAddress}}, Pin - {{organisationPin}}
      </div>
    </div>
  </div>
  <!-- billDetailsScrool -->
  <div class="row">
    <div class="col-12 p-1 billscrl">
      <marquee width="90%" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
        *** Your Bill is due from 20th January,2023. Please Complete Your Payment to Continue Your Service. ***
      </marquee>
    </div>
  </div>

  <!-- maincontent -->
  <div class="main p-4">
    <div class="row">
      <div class="col-8 dashbox">
        <div class="row">
          <div class="item col-2 active act me-2">
            <i class="bi bi-person-fill botic"></i>
            <h3>Active Customer </h3>
            <hr class="rule">
            <a [routerLink]="['/StudentCourseRegistration']">
              <h1><b>{{totalNoActiveStudent}}</b></h1>
            </a>
          </div>
          <div class="item  col-2 active act1 me-2">
            <i class="bi bi-book-fill botic"></i>
            <h3>Active Services</h3>
            <hr class="rule">
            <a [routerLink]="['/course']">
              <h1><b>{{totalNoCourse}}</b></h1>
            </a>
          </div>
          <div class="item col-2 active act2 me-2">
            <i class="bi bi-wallet-fill botic"></i>
            <h3>Total Received (Year)</h3>
            <hr class="rule">
            <a [routerLink]="['/AllIncomeReport']">
              <h1><b>{{totalYearlyCash + totalYearlyBank | currency:'INR'}}</b></h1>
            </a>
          </div>

          <div class="item col-2 active act3 me-2">
            <i class="bi bi-journal-text botic"></i>
            <h3>Received Order</h3>
            <hr class="rule">
            <a [routerLink]="['/Order']">
              <button type="button" class="btn btn-info">Click Here</button>
            </a>
          </div>
        </div>

        <!-- tabhere 
      <a href="#top">Back to top of page</a>-->
      <div class="thtab upcom mt-4">
        <div class="lefttabs">
          <i class="bi bi-bell-fill"></i>&nbsp; All Reports
          <mat-tab-group (selectedIndexChange)="onTabChanged($event)" [(selectedIndex)]="selectedIndex"
            animationDuration="200ms">
           
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">trending_up</mat-icon>
                Completed Job
              </ng-template>
              <p-table #orderPending [value]="orderCompletedArray" dataKey="id" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10,25,50]" [globalFilterFields]="['employee_name','customer_name','address','order_date','work_type_name']">
    
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                      (click)="clear(orderPending)"></button>
                    <span class="p-input-icon-left ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text"
                        (input)="orderPending.filterGlobal(getEventValue($event), 'contains')"
                        placeholder="Search keyword" />
                    </span>
    
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="employee_name">Employee Name <p-sortIcon field="employee_name"></p-sortIcon>
                    </th>               
                    <th pSortableColumn="customer_name">Customer Name <p-sortIcon field="customer_name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="completed_days">Day Completed <p-sortIcon field="completed_days"></p-sortIcon>
                    </th> 
                    <th>WhatsApp No</th>
                    <th>Service Name</th>
                    <th>Service Date</th>
                    <th>Competed Date</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                  <tr>
                    <td>{{order.employee_name}}</td>
                    <td>{{order.customer_name}}</td>
                    <td>{{order.completed_days}}</td>
                    <td>{{order.whatsapp_number}}</td>
                    <td>{{order.work_type_name}}</td>
                    <td>{{order.working_date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{order.completed_date | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </ng-template>
    
              </p-table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      </div>
      <!-- bdaytable -->
      <div class="col-4 bday">
        <div class="upcom-1">
          <div class="upbday">
            <i class="bi bi-bell-fill"></i>&nbsp; Upcoming Birthday
            <span> <a [routerLink]="['/UpcomingBirthday']"> &nbsp; &nbsp;<span
                  style="background-color: red; border: 3px solid red;"> {{birthdayArray.length}}</span>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Click To View All</b>
              </a></span>
          </div>
          <div class="upcom-1-scroll">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">What's No</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Day Left</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of birthdayArray; let indexOfelement=index;">
                  <th scope="row">{{indexOfelement+1}}</th>
                  <td>{{item.ledger_name}}</td>
                  <td>{{item.whatsapp_number}}</td>
                  <td>{{item.dob | date: 'dd/MM/yyyy'}}</td>
                  <td>{{item.PandingDays}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <!-- Duelist -->
        <div class="upcom-2 mt-4">
          <div class="upbday">
            <i class="bi bi-bell-fill"></i>&nbsp; Service Duelist &nbsp; &nbsp;<span
              style="background-color: red; border: 3px solid red;"> {{upcomingDueListArray.length}}</span>
            <span> <a [routerLink]="['/UpcomingDue']">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Click To View All</b>
              </a></span>
          </div>
          <div class="upcom-2-scroll" *ngIf="!showCourseDetails">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">What's No</th>
                  <th scope="col">Tran Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Days</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of upcomingDueListArray; let indexOfelement=index;">
                  <th scope="row">{{indexOfelement+1}}</th>
                  <td>{{item.student_name}}</td>
                  <td>{{item.whatsapp_number}}</td>
                  <td>{{item.transaction_date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{item.total_due | currency:'INR'}}</td>
                  <td>{{item.date_Diff}}</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="upcom-2-scroll" *ngIf="showCourseDetails">
            <div class="container" style="font-size:medium ;">
              <table class="table">

                <thead>
                  <tr class="text-center">
                    <th colspan="3">
                      <h1>
                        Course Details</h1>
                    </th>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="col">Fees Mode Type</th>
                    <th scope="col">:</th>
                    <th scope="col">{{fees_mode_type_name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">:</th>
                    <th scope="col">{{course_code}}</th>
                  </tr>
                  <tr>
                    <th scope="col">Short Name</th>
                    <th scope="col">:</th>
                    <th scope="col">{{short_name}}</th>
                  </tr>
                  <tr>
                    <th scope="col">Course Duration</th>
                    <th scope="col">:</th>
                    <th scope="col">{{course_duration}}&nbsp; [{{duration_name}}]</th>
                  </tr>
                  <tr>
                    <th scope="col">Description</th>
                    <th scope="col">:</th>
                    <th scope="col">{{description}}</th>
                  </tr>
                  <tr>
                    <th scope="col">Course Fees</th>
                    <th scope="col">:</th>
                    <th scope="col">{{courseFees | currency:'INR'}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- student history details -->
    

   
    <!-- Auto Generate Fees Charge details -->
    <!-- <div class="row mt-4 upcom">
      <div class="stuhisdtl">
        <i class="bi bi-person-video"></i>
        &nbsp; Monthly Auto Generate Fees Charge &nbsp; <span
          style="height: 50px;width: 50px;border-radius: 50%;background-color: red; border: 3px solid red;">
          {{monthlyStudentArray.length}}</span>
      </div>
      <div class="p-2 text-right">
        <button type="button" class="btn btn-success" (click)="saveAllStudentMonthly()">
          Generate All Fees Charged
        </button>
      </div>
      <div class="stutable">


        <p-table #monthlyStudent [value]="monthlyStudentArray" dataKey="id" [paginator]="true" [rows]="5"
          [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5,10,25,50]" [globalFilterFields]="['ledger_name','full_name','transaction_date']">

          <ng-template pTemplate="caption">
            <div class="flex">
              <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(monthlyStudent)"></button>
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="monthlyStudent.filterGlobal(getEventValue($event), 'contains')"
                  placeholder="Search keyword" />
              </span>

            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>

              <th pSortableColumn="ledger_id">Student Name <p-sortIcon field="ledger_name"></p-sortIcon>
              </th>
              <th pSortableColumn="course_id">Course Name <p-sortIcon field="full_name"></p-sortIcon>
              </th>

              <th pSortableColumn="transaction_date">Transaction Date <p-sortIcon field="transaction_date"></p-sortIcon>
              </th>
              <th pSortableColumn="fees_month">Month No.<p-sortIcon field="fees_month"></p-sortIcon>
              </th>
              <th>amount</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-course let-rowIndex="rowIndex">

            <tr>
              <td>{{rowIndex+1}}</td>
              <td>{{course.ledger_name}}</td>
              <td>{{course.full_name}}</td>
              <td>{{course.transaction_date | date: 'dd/MM/yyyy'}}</td>
              <td>{{course.fees_month+1}}</td>
              <td>{{course.amount | currency:'INR'}}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>

      </div>
    </div> -->
  </div>

</div>